<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Personal</title>
    <link rel="stylesheet" href="../../public/CSS/general.css">
</head>
<body>

    <nav class="nav">

        <div class="nav__header">

            <img src="../../public/images/profile-pic.png" alt="foto-perfil" class="nav__header__img">
            <h3 class="nav__header__name">Luciano Adrian Flores</h3>
            <p class="nav__header__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor facilis consequuntur saepe voluptatum.</p>

        </div>

        <div class="nav__links">
            <ul>
                <li class="nav__links__link"><a href="/biography">Biografia</a></li>
                <li class="nav__links__link"><a href="/projects">Trabajos</a></li>
                <li class="nav__links__link"><a href="/">Posteos</a></li>
                <li class="nav__links__link"><a href="/contact">Contacto</a></li>
            </ul>
        </div>

        <div class="nav__footer">
            <p>© 2022 - Luciano Adrian Flores</p>
        </div>
    </nav>

    <div class="top-bar">
        <div class="top-bar__loggin">
            <a href="./signUp" class="register">Registrarse</a>
            <a href="./logIn" class="button">Ingresar</a>
        </div>
    </div>

    <div class="content">

        <aside class="right-feed">

            <div class="right-feed__category">
                <h2 class="right-feed__category__title">Categorías</h2>
                <ul class="right-feed__list">
                    <a href="#"><li>Reflexiones</li></a>
                    <a href="#"><li>Experiencias</li></a>
                    <a href="#"><li>HTML</li></a>
                    <a href="#"><li>CSS</li></a>
                    <a href="#"><li>JAVASCRIPT</li></a>
                </ul>
            </div>

            <div class="right-feed__news">
                <p class="right-feed__title">Suscribirse a Noticias</p>
                <input type="mail" id="v1" placeholder="cuenta@email.com" class="right-feed__news__input">
                <button type="button" class="button form-btn">Suscribirse</button>
        
            </div>

            <div class="right-feed__publicidad">
                <a href="#"><img src="../../public/images/publicidad.jpg" alt="publicidad" class="right-feed__publicidad__img"></a>
            </div>

        </aside>


        <main class="main">

            <h1>Contacto</h1>

        </main>
    
    </div>
</body>

</html>