.main h2{
    font-size: 1.6em;
}

.form{

    width: 100%;
    height: max-content;

    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;

}

.input-half{

    flex-grow: 0.5;
    min-width: 230px;
    max-width: 50%;
}

.input-full{
    width: 100%;
}

.input-group{

    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
   
}

.margin-right{
    margin-right: 15px;
}

.input-group__label{

    margin-bottom: 0.5em;
}

.input-group__input{

    background-color: rgb(255, 255, 255);
    color: rgb(66, 66, 66);
    border: none;
    border-radius: 4px;
    height: 2.5em;
    padding-left: 8px;

}

.input-group__input:focus{

    outline: none ;
    border:1px solid rgb(111, 0, 255);
    box-shadow: 0 0 10px #d8b8f7;
    
}

.input-group-dropdown{

    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;

}

.input-group-dropdown__select{

    color: rgb(66, 66, 66);

}

.input-group-dropdown__select:focus{

    outline: none ;
    border:1px solid rgb(111, 0, 255);
    box-shadow: 0 0 10px #d8b8f7;

}

.input-group-dropdown__select option{
    
    color: rgb(66, 66, 66);

}

.input-group-checkbox{
    display: flex;
    width: 100%;
}

.input-group-checkbox label{
    margin-bottom: 30px;
}
.input-group-checkbox__checkbox{

    height: 1em;
    width: 2em;
    margin-top: 7px;
}

.button-form{

    color: white;
    border: none;
    margin-left: 290px;
}