<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="../../public/CSS/general.css">
    <link rel="stylesheet" href="../../public/CSS/form.css">
    <title>Crear Post</title>
</head>
<body>

    <div class="container">

        <header class="header">
            
            <h1 id="title">Crear un post nuevo</h1>
            <p id="description">Sobre que nos vas a contar ahora?</p>

        </header>

        <main>
            <form action="/articles/<%=article.id %>?_method=PUT" method="POST">
                <%- include('_form.ejs') %>
            </form>
        </main>

    </div>
</body>
</html>
