<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Personal</title>
    <link rel="stylesheet" href="../../public/CSS/general.css">
    <link rel="stylesheet" href="../../public/CSS/principal.css">
</head>
<body>

    <nav class="nav">

        <div class="nav__header">

            <img src="../../public/images/profile-pic.png" alt="foto-perfil" class="nav__header__img">
            <h3 class="nav__header__name">Luciano Adrian Flores</h3>
            <p class="nav__header__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor facilis consequuntur saepe voluptatum.</p>

        </div>

        <div class="nav__links">
            <ul>
                <li class="nav__links__link"><a href="#">Biografia</a></li>
                <li class="nav__links__link"><a href="#">Trabajos</a></li>
                <li class="nav__links__link"><a href="#">Posteos</a></li>
                <li class="nav__links__link"><a href="#">Contacto</a></li>
            </ul>
        </div>

        <div class="nav__footer">
            <p>© 2022 - Luciano Adrian Flores</p>
        </div>
    </nav>

    <div class="top-bar">
        <div class="top-bar__loggin">
            <a href="./registro.html" class="register">Registrarse</a>
            <a href="#" class="button">Ingresar</a>
        </div>
    </div>

    <div class="content">

        <aside class="right-feed">

            <div class="right-feed__category">
                <h2 class="right-feed__category__title">Categorías</h2>
                <ul class="right-feed__list">
                    <a href="#"><li>Reflexiones</li></a>
                    <a href="#"><li>Experiencias</li></a>
                    <a href="#"><li>HTML</li></a>
                    <a href="#"><li>CSS</li></a>
                    <a href="#"><li>JAVASCRIPT</li></a>
                </ul>
            </div>

            <div class="right-feed__news">
                <p class="right-feed__title">Suscribirse a Noticias</p>
                <input type="mail" id="v1" placeholder="cuenta@email.com" class="right-feed__news__input">
                <button type="button" class="button form-btn">Suscribirse</button>
        
            </div>

            <div class="right-feed__publicidad">
                <a href="#"><img src="../../public/images/publicidad.jpg" alt="publicidad" class="right-feed__publicidad__img"></a>
            </div>

        </aside>


        <main class="main">
            <div class="last-post">

                <div class="last-post__header">
                    <div class="last-post__header__info">
                        <h3>Ultimo Posteo</h3>
                        <p>Autor (fecha)</p>
                    </div>

                    <div class="last-post__header__hashtags">
                        <p>#Reflexiones</p>
                    </div>
                </div>

                <div class="last-post__content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aspernatur sit libero facere reiciendis at, blanditiis ipsa itaque deleniti dolor inventore quas soluta sequi nostrum sint dolorum, repellendus doloremque. Itaque.
                    </p>
                    <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aut delectus accusamus distinctio nesciunt, quam quidem amet voluptatem reiciendis id nobis neque laborum, officiis a! Alias beatae laboriosam qui asperiores.
                    </p>
                </div>

                <div class="last-post__footer">
                    <a href="#" class="comentarios">5 comentarios</a>
                    <a href="#">...seguir leyendo</a>
                </div>

            </div>

            <div class="other-posts">
                <% articles.forEach(article => { %>
                <div class="post">
                        <div class="post__header">
                            <div class="post__header__info">
                                <h3><%= article.title %></h3>
                                <p><%= article.createdAt.toLocaleDateString() %> </p>
                            </div>

                            <div class="post__header__hashtags">
                                <p>#<% article.theme %> </p>
                            </div>

                        </div>

                        <div class="post__content">
                            <p> <%= article.markdown  %>  </p>
                        </div>

                        <div class="post__footer">
                            <a href="#">...seguir leyendo</a>
                        </div>
                </div>
                <% }) %>

            </div>
        </main>

        <a href="/articles/new" class="button btn-new">
            Crear Post
        </a>
    
    </div>
</body>

</html>